<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Tech Blog</title>
</head>

<body>
  <nav></nav>
  <section class='link'>

    <a href='/'>Home </a>
    <a href='/search'>Search </a>
    <a id="logout" href='/'>Logout </a>
  
    <a href='/'>Home </a>
    <a href='/login'>Login </a>
    <a href='/register'>Register </a>

  </section>


</body>

</html>