* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    font-size: 16px;
    line-height: 1.5;
    color: #300;
    background-color: #fff;
}

a {
    color: #300;
    text-decoration: none;
}

a:hover {
    color: rgb(64, 33, 175);
    text-decoration: none;
}

a:focus {
    color: rgb(163, 36, 36);
    text-decoration: none;
}

a:active {
    color: rgb(196, 69, 69);
    text-decoration: none;
}

.site-mainname {
    background-color: aqua;
}

.site-row {
    background-color: aqua;
}

.wrapper {
    max-width: 100%;
    min-height: 100vh;
    max-width: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}